<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PiHi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
</head>
<body>
  <h1>PiHi</h1>

  <p>Platform: {{ platform.name }}</p>

  <div class="gridcontainer">
    <h2>GPIO</h2>
    <div id="gpiobox">
    
      {% for gpio in platform.gpio_nums %}
      <div class="griditem">
        <onoff_button id='gpio{{ "%02d" | format(gpio) }}'></onoff_button>
      </div>
      {% endfor %}

    </div>

    <h2>Comms</h2>
    <div id="commsbox">
      <div class="griditem">
        <comms_sse id='i2c'></comms_sse>
      </div>
    </div>

  </div>

  <script src="{{ url_for('static', filename='onoff_button.tag') }}" type="riot"></script>
  <script src="{{ url_for('static', filename='comms_sse.tag') }}" type="riot"></script>
  <script src="https://cdn.jsdelivr.net/npm/riot@4/riot+compiler.min.js"></script>

  <script>
    riot.compile().then(() => {
      {% for gpio in platform.gpio_nums %}
      riot.mount(
        'onoff_button#gpio{{ "%02d" | format(gpio) }}',
        {
          set_gpio_url: '{{ url_for("api.set_gpio", gpio=gpio) }}',
          text: 'GPIO{{ "%02d" | format(gpio) }}'
        }
      );
      {% endfor %}

      riot.mount(
        'comms_sse#i2c',
        {
          sse_url: '{{ url_for("sse.stream") }}',
        }
      );
    });
  </script>
</body>
</html>
