body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

form input {
  font-size: 85%;
  padding: .4em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #FF0000;
  font-size: 75%;
  padding: .4em 1.2em;
  border-radius: 2em;
  cursor: pointer;
  margin: 0.5em .23em;
  outline: none;

}

button.button_on  {
  background-color: #00FF00;  
}

button.button_off {
  background-color: #FF0000;
}
